*.iml
*.pyc
*.pyo
*.log
*.deb
*.sqlite3

.idea/
.vscode/
__pycache__/

www/ldap-oauth2/staticfiles/
www/ldap-oauth2/media/
www/ldap-oauth2/sso/settings_user.py
www/ldap-oauth2/logs/

Dockerfile_backup
Dockerfile_backup_1
my.conf
httpd.conf
demo_site.conf
000-default.conf
apache.crt
apache.key
.env
env.txt
environment.yml

*.swp
*~
.coverage
htmlcov
sitemap.xml
wmcta@10.*